@model GoalsApplicationMark1.Models.GoalEntity
@using GoalsApplicationMark1.Common;

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Goal Information</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text/danger"></div>
        <div class="form-group">
            <label asp-for="Goal" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Goal" class="form-control" />
                <span asp-validation-for="Goal" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text/danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ranking" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ranking" class="form-control" />
                <span asp-validation-for="Ranking" class="text/danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeliverableDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeliverableDate" class="form-control" />
                <span asp-validation-for="DeliverableDate" class="text/danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsSpecific" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsSpecific" class="form-control" />
                <span asp-validation-for="IsSpecific" class="text/danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsMeasureable" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsMeasureable" class="form-control" />
                <span asp-validation-for="IsMeasureable" class="text/danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsAchieveable" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsAchieveable" class="form-control" />
                <span asp-validation-for="IsAchieveable" class="text/danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsRelevant" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsRelevant" class="form-control" />
                <span asp-validation-for="IsRelevant" class="text/danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsTimebound" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsTimebound" class="form-control" />
                <span asp-validation-for="IsTimebound" class="text/danger" />
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="GoalType" class="col-md-2 control-label">Epic, Task, Goal, GoalCandidate</label>
            <div class="col-md-10">
                <input asp-for="GoalType" class="form-control" />
                <span asp-validation-for="GoalType" class="text/danger" />
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="GoalType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="GoalType" asp-items="Html.GetEnumSelectList<GoalTypes>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="GoalType" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
